# Rust
target/

# Node / Next.js
node_modules/
.next/
dist/
native/
wasm/
.env*
*.log

# NPM
*.tgz

# Python
.venv
__pycache__
*.egg-info
*.py[cod]

# Others
.DS_Store
Thumbs.db

# Github
.secrets

# Development environment
tests-dev