# Rust
target/

# Node / Next.js
node_modules/
.next/
dist/
.env*
*.log

# NPM
*.tgz

# Python
.venv
__pycache__
*.egg-info
*.py[cod]

# Others
.DS_Store
Thumbs.db

# Future release
packages/*
!packages/mdx-next
!packages/mdx-python

# Tests (To test the project, please refer to sandbox repository)
tests/*

# Github Secrets
.secrets